services:
  redis:
    image: redis:8.4.0
    container_name: redis
    restart: always
    env_file:
      - .env
    volumes:
      - data-redis:/data
    networks:
      - internal_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  data-redis:

networks:
  internal_network:
    external: true
