services:
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    env_file:
      - .env
    command: >
      redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - data-redis:/data
    networks:
      - internal_network

volumes:
  data-redis:

networks:
  internal_network:
    external: true
