services:
  redis:
    image: redis:8.6.0
    container_name: redis
    restart: always
    env_file:
      - .env
    volumes:
      - data-redis:/data
    networks:
      - internal_network

volumes:
  data-redis:

networks:
  internal_network:
    driver: bridge
